{% extends 'base.html' %}
{% block title %}Missed Customers List{% endblock %}
{% block content %}
{% load accounts_templatetags %}
    <!-- Page Header -->
    <div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
        <h4 class="fw-medium mb-0">Missed Customers</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-50">Client Management</a></li>
            <li class="breadcrumb-item active" aria-current="page">Missed Customers</li>
        </ol>
    </div>
    <!-- Page Header Close -->

    <!-- Start::app-content -->
    <div class="main-content app-content">
        <div class="container-fluid">
            <!-- Start:: row -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card custom-card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div class="card-title">Missed Customers</div>
                            <!-- Print Button -->
                            <a href="{% url 'missing_customers_pdf' %}" class="btn btn-outline-success">
                                <i class="fas fa-print"></i> Print
                            </a>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered text-nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center; width:5%;">Sl.No</th>
                                        <th style="text-align:center;">Route Name</th>
                                        <th style="text-align:center;">Actual Customers</th>
                                        <th style="text-align:center;">Planned Customers</th>
                                        <th style="text-align:center;">Missed Customers</th>
                                        <th style="text-align:center;">Supplied Customers <br> From <br> Schedule</th>
                                        <th style="text-align:center;">Supplied Customers <br> From <br> Client</th>
                                        <th style="text-align:center;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% load el_pagination_tags %}
                                    {% paginate 20 route_data %}
                                    {% for data in route_data %}
                                    {% get_missed_customer_count request data.pk request_date as missed_data %}
                                        <tr>
                                            <td style="text-align:center;">{{ forloop.counter }}</td>
                                            <td style="text-align:left;">{{ data.route_name }}</td>
                                            <td style="text-align:center;">{{ missed_data.actual_customers }}</td>
                                            <td style="text-align:center;">{{ missed_data.planned_visitors }}</td>
                                            <td style="text-align:center;">{{ missed_data.missed_customers }}</td>
                                            <td style="text-align:center;">{{ missed_data.supplied_customers_from_schedule }}</td>
                                            <td style="text-align:center;">{{ missed_data.supplied_customers_from_clients }}</td>
                                            <td style="text-align:center;">
                                                <a href="{% url 'missed_on_delivery' data.route_id %}?request_date={{request_date|date:'Y-m-d'}}" class="btn btn-warning-light btn-sm" aria-label="View Missed Deliveries" data-bs-toggle="tooltip" data-bs-original-title="View Missed Deliveries">
                                                    <span class="bi bi-person-x fs-5"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% get_pages %}
                        <div class="clearfix"></div>
                        <div class="row pagi my-3">
                            <div class="col-sm-6 col-xs-6 tot my-pagination">
                                <div class="m-t-10 text-start">
                                    Showing {{title}}
                                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span
                                    class="current_end_status">{{ pages.current_end_index }}</span> of <span
                                    class="total_count">{{ pages.total_count }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End:: row -->
        </div>
    </div>
    <!-- End::app-content -->
{% endblock %}
