{% extends 'base.html' %}
{% block title %} Redeemed History {% endblock %}
{% block content %}
{% load static %}
{% load el_pagination_tags %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
    <h4 class="fw-medium mb-0">Redeemed History</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Coupon Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">Redeemed History</li>
    </ol>
</div>

<div class="main-content app-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">Redeemed History</div>
                    </div>
                    <div class="mt">
                        <form method="get">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <label for="start_date">From Date:</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                    </div>
                                    <div class="col">
                                        <label for="end_date">To Date:</label>
                                        <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date }}">
                                    </div>
                                    <div class="col">
                                        <label for="route_name">Routes:</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in route_li %}
                                                <option value="{{ route.route_name }}" {% if route.route_name == filter_data.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="q">Search:</label>
                                        <input type="text" name="q" class="form-control" placeholder="Search ..." value="{{ filter_data.q }}">
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                        <a href="{% url 'print_redeemed_history' %}?start_date={{ filter_data.start_date }}&end_date={{ filter_data.end_date }}&route_name={{ filter_data.route_name }}&q={{ filter_data.q }}" class="btn btn-outline-success btn-sm mx-1" target="_blank">
                                            <i class="fas fa-file-excel"></i> Print
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="table-container">
                        <div class="card-body">
                            <table class="table table-bordered text-wrap" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Sl No</th>
                                        <th rowspan="2">Supply Date</th>
                                        <th rowspan="2">Invoice Number</th>
                                        <th rowspan="2">Customer</th>
                                        <th rowspan="2">Customer Id</th>
                                        <th rowspan="2">Mobile No</th>
                                        <th rowspan="2">Building No</th>
                                        <th rowspan="2">Route</th>
                                        <th colspan="2">No of coupons</th>
                                        <th rowspan="2">View Coupons</th>
                                    </tr>
                                    <tr>
                                        <th>Digital</th>
                                        <th>Manual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% paginate 50 instances %}
                                    {% for instance in instances %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ instance.created_date|date:'d-m-Y' }}</td>
                                            <td>{{ instance.invoice_no }}</td>
                                            <td>{{ instance.customer.customer_name }}</td>
                                            <td>{{ instance.customer.custom_id }}</td>
                                            <td>{{ instance.customer.mobile_no }}</td>
                                            <td>{{ instance.customer.building_name }}</td>
                                            <td>{{ instance.customer.routes.route_name }}</td>
                                            <td>{{ instance.total_coupon_recieved.digital_coupon }}</td>
                                            <td>{{ instance.total_coupon_recieved.manual_coupon }}</td>
                                            <td>
                                                <div class="g-2">
                                                    <a href="{% url 'redeemed_coupon_details' supply_pk=instance.pk %}" aria-label="anchor" class="btn btn-primary-light btn-sm ms-2" data-bs-toggle="tooltip" data-bs-original-title="Info">
                                                        <span class="bi bi-eye-fill fs-14"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" class="text-end"><strong>Total:</strong></td>
                                        <td><strong>{{ total_digital_coupons }}</strong></td>
                                        <td><strong>{{ total_manual_coupons }}</strong></td>
                                        <td><strong></strong></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        {% get_pages %}
                        <div class="clearfix"></div>
                        <div class="row pagi my-3">
                            <div class="col-sm-6 col-xs-6 tot my-pagination">
                                <div class="m-t-10 text-start">
                                    Showing {{ title }}
                                    <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 text-end pagination-btn-div">{% show_pages %}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('#submit').click(function(e) {
        e.preventDefault();
        // Show the table when dates are selected
        $('#table-container').show();
    });

    function resetFilters() {
        // Redirect to the same page
        location.href = "{% url 'redeemed_history' %}";
    }
</script>
{% endblock %}
