{% extends 'base.html' %}
{% block title %} Audit Details Report {% endblock %}
{% block content %}

{% load van_template_tags %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between ">
    <h4 class="fw-medium mb-0">Audit Details Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" class="text-white-30">Van Management </a></li>
        <li class="breadcrumb-item active" aria-current="page">Audit Details Report</li>
    </ol>
</div>
<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                             Audit Details Report
                        </div>
                    </div>
                        {% comment %} <div class="mt">
                            <form method="GET">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <label for="start_date">From Date:</label>
                                            <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                        </div>
                                        <div class="col">
                                            <label for="end_date">To Date:</label>
                                            <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date }}">
                                        </div>
                                        
                                        <div class="row col-md-6" style="">
                                        <div class="col">
                                        <label for="product">Routes :</label>
                                        <select name="route_name" class="form-select">
                                            <option value="">All Routes</option>
                                            {% for route in routes %}
                                                <option value="{{ route.route_name }}"  {% if filter_data.selected_route == route.route_name %}selected{% endif %}>{{ route.route_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col d-flex align-items-end justify-content-end">
                                        <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                        <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                        <a href="{% url 'collection_report_excel' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&route_name={{ request.GET.route_name }}" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Excel</a>
                                        <a href="{% url 'print_collection_report' %}?start_date={{ request.GET.start_date }}&end_date={{ request.GET.end_date }}&route_name={{ request.GET.route_name }}" target="_blank" class="btn btn-outline-success"><i class="fas fa-print"></i> Print</a>

                                    </div>
                                        
                                    </div>
                                </div>
                            </form> 
                        </div>  {% endcomment %}
                        <div class="mt">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p><strong>Route Name:</strong> {{ audit.route.route_name }}</p>
                                        </div>
                                        <div class="col">
                                            <p><strong>Marketing Executive:</strong> {{ audit.marketing_executieve.get_full_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <p><strong>Salesman:</strong> {{ audit.salesman.get_full_name }}</p>
                                        </div>
                                        <div class="col ">
                                            <p><strong>Driver:</strong> {{ audit.driver.get_full_name }}</p>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col ">
                                            <p><strong>Helper:</strong> {{ audit.helper.get_full_name }}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        

                        <div id="table-container" style="overflow:scroll;">
                            <div class="card-body">
                                <table id="responsiveDataTable" class="table table-bordered text-wrap" style="width: 100%">
                                    <thead>
                                        <tr>
                                        <th style="text-align:center;width:5%;" scope="col">Sl.No</th>
                                        <th>Customer ID</th>
                                        <th>Customer</th>
                                        <th>Previous Outstanding Amount</th>
                                        <th>Audit Outstanding Amount</th>
                                        <th>Amount Variation</th>
                                        <th>Previous Outstanding Coupon</th>
                                        <th>Audit Outstanding Coupon</th>
                                        <th>Coupon Variation</th>
                                        <th>Previous Bottle Count</th>
                                        <th>Audit Bottle Count</th>
                                        <th>Bottle Variation</th>
                                        <th>Previous Hot & Cold Dispenser</th>
                                        <th>Audit Hot & Cold Dispenser</th>
                                        <th>Hot & Cold Variation</th>
                                        <th>Previous Table Dispenser</th>
                                        <th>Audit Table Dispenser</th>
                                        <th>Table Variation</th>
                                        <th>Remarks</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in audit_details %}
                                        {% get_audit_details item.pk as audit_data%}
                                        <tr>
                                            <td style="text-align:center">{{ forloop.counter }}</td>
                                            <td>{{ item.customer.custom_id }}</td>
                                            <td>{{ item.customer.customer_name }}</td>
                                            <td>{{ item.previous_outstanding_amount }}</td>
                                            <td>{{ item.outstanding_amount }}</td>
                                            <td>{{ item.get_amount_variation }}</td>
                                            <td>{{ item.previous_outstanding_coupon }}</td>
                                            <td>{{ item.outstanding_coupon }}</td>
                                            <td>{{ item.get_coupon_variation }}</td>
                                            <td>{{ item.previous_bottle_outstanding }}</td>
                                            <td>{{ item.bottle_outstanding }}</td>
                                            <td>{{ item.get_bottle_variation }}</td>
                                            <td>{{ item.previous_hot_and_cold_dispenser }}</td>
                                            <td>{{ item.hot_and_cold_dispenser }}</td>
                                            <td>{{ item.get_hot_and_cold_variation }}</td>
                                            <td>{{ item.previous_table_dispenser }}</td>
                                            <td>{{ item.table_dispenser }}</td>
                                            <td>{{ item.get_table_dispenser_variation }}</td>
                                            <td>{{ item.remarks }}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr style="font-weight: bold;">
                                            <td colspan="3" class="text-end">Total</td>
                                            <td>{{ totals.previous_outstanding_amount }}</td>
                                            <td>{{ totals.audit_outstanding_amount }}</td>
                                            <td>{{ totals.amount_variation }}</td>
                                            <td>{{ totals.previous_outstanding_coupon }}</td>
                                            <td>{{ totals.audit_outstanding_coupon }}</td>
                                            <td>{{ totals.coupon_variation }}</td>
                                            <td>{{ totals.previous_bottle }}</td>
                                            <td>{{ totals.audit_bottle }}</td>
                                            <td>{{ totals.bottle_variation }}</td>
                                            <td>{{ totals.previous_hot_and_cold }}</td>
                                            <td>{{ totals.audit_hot_and_cold }}</td>
                                            <td>{{ totals.hot_and_cold_variation }}</td>
                                            <td>{{ totals.previous_table }}</td>
                                            <td>{{ totals.audit_table }}</td>
                                            <td>{{ totals.table_variation }}</td>
                                            <td></td>
                                        </tr>   
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
