{% extends 'base.html' %}
{% block title %} Customer Sales Report {% endblock %}

{% block content %}
{% load static %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
    <h4 class="fw-medium mb-0">Customer Sales Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);" class="text-white-30">Sales Management</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Customer Sales Report</li>
    </ol>
</div>

<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Customer Sales Report
                        </div>
                    </div>

                    <div class="card-body">
                        <form method="GET" action="{% url 'customerSales_report' %}">
                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="start_date">Start Date:</label>
                                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                </div>
                                <div class="col">
                                    <label for="end_date">End Date:</label>
                                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date }}">
                                </div>
                                
                                <div class="col">
                                    <label for="sales_type">Route:</label>
                                    <select name="route" class="form-select">
                                        <option value="">All Routes</option>
                                        {% for route in route_li %}
                                            <option value="{{ route.pk }}" {% if route.pk|stringformat:"s" == filter_data.route|stringformat:"s" %}selected{% endif %}>{{ route.route_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col">
                                    <label for="sales_type">Sales Type:</label>
                                    <select id="sales_type" name="sales_type" class="form-select">
                                        <option value="">All</option>
                                        {% for sales_type in sales_types %}
                                            <option value="{{ sales_type }}" {% if sales_type == filter_data.sales_type %}selected{% endif %}>
                                                {{ sales_type }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col d-flex align-items-end justify-content-end">
                                    <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                    <a href="{% url 'customerSales_Excel_report' %}?start_date={{ filter_data.start_date }}&end_date={{ filter_data.end_date }}&sales_type={{ filter_data.sales_type }}" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Excel</a>
                                    <a href="{% url 'customerSales_Print_report' %}?start_date={{ filter_data.start_date }}&end_date={{ filter_data.end_date }}&sales_type={{ filter_data.sales_type }}" class="btn btn-outline-success"><i class="fas fa-print"></i> Print</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="table-container" style="overflow:scroll;">
                        <div class="card-body">
                            <table id="responsiveDataTable" class="table table-bordered text-nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center !important;">Sl No</th>
                                        <th style="text-align:center !important;">Date</th>
                                        <th style="text-align:center !important;">Reference No</th>
                                        <th style="text-align:center !important;">Invoice No</th>
                                        <th style="text-align:center !important;">Customer Name</th>
                                        <th style="text-align:center !important;">Customer Id</th>
                                        <th style="text-align:center !important;">Customer Sales Type</th>
                                        <th style="text-align:center !important;">Route</th>
                                        <th style="text-align:center !important;">Salesman</th>
                                        <th style="text-align:center !important;">Amount</th>
                                        <th style="text-align:center !important;">Discount</th>
                                        <th style="text-align:center !important;">Net Taxable</th>
                                        <th style="text-align:center !important;">VAT Amount</th>
                                        <th style="text-align:center !important;">Grand Total</th>
                                        <th style="text-align:center !important;">Amount Collected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in customersales %}
                                    <tr>
                                        <td style="text-align:left;">{{ forloop.counter }}</td>
                                        <td style="text-align:left;">{{ data.date|date:"d/m/Y" }}</td>
                                        <td style="text-align:left;">{{ data.ref_invoice_no }}</td>
                                        <td style="text-align:left;">{{ data.invoice_number }}</td>
                                        <td style="text-align:left;">{{ data.customer_name }}</td>
                                        <td style="text-align:left;">{{ data.custom_id }}</td>
                                        <td style="text-align:left;">{{ data.sales_type }}</td>
                                        <td style="text-align:left;">{{ data.route_name }}</td>
                                        <td style="text-align:left;">{{ data.salesman }}</td>
                                        <td style="text-align:right;">{{ data.amount }}</td>
                                        <td style="text-align:right;">{{ data.discount }}</td>
                                        <td style="text-align:right;">{{ data.net_taxable }}</td>
                                        <td style="text-align:right;">{{ data.vat_amount }}</td>
                                        <td style="text-align:right;">{{ data.grand_total }}</td>
                                        <td style="text-align:right;">{{ data.amount_collected }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9" style="text-align: right;">Total:</td>
                                        <td style="text-align:right;">{{ total_amount }}</td>
                                        <td style="text-align:right;">{{ total_discount }}</td>
                                        <td style="text-align:right;">{{ total_net_payable }}</td>
                                        <td style="text-align:right;">{{ total_vat }}</td>
                                        <td style="text-align:right;">{{ total_grand_total }}</td>
                                        <td style="text-align:right;">{{ total_amount_recieved }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- Commented out pagination section -->
                    {% comment %} 
                    {% get_pages %}
                    <div class="clearfix"></div>
                    <div class="row pagi my-3">
                        <div class="col-sm-6 col-xs-6 tot my-pagination">
                            <div class="m-t-10 text-start">
                                Showing {{ title }} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 pagination-btn-div">
                            {% show_pages %}
                        </div>
                    </div> 
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}


{% comment %} 
{% extends 'base.html' %}
{% block title %} Customer Sales Report {% endblock %}

{% block content %}
{% load static %}

<!-- Page Header -->
<div class="page-header-breadcrumb d-md-flex d-block align-items-center justify-content-between">
    <h4 class="fw-medium mb-0">Customer Sales Report</h4>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);" class="text-white-30">Sales Management</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Customer Sales Report</li>
    </ol>
</div>

<div class="main-content app-content">
    <div class="container-fluid">
        <!-- Start:: row-2 -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card custom-card">
                    <div class="card-header">
                        <div class="card-title">
                            Customer Sales Report
                        </div>
                    </div>

                    <div class="card-body">
                        <form method="GET" action="{% url 'customerSales_report' %}">
                            <div class="row align-items-center">
                                <div class="col">
                                    <label for="start_date">Start Date:</label>
                                    <input type="date" class="form-control" id="start_date" name="start_date" value="{{ filter_data.start_date }}">
                                </div>
                                <div class="col">
                                    <label for="end_date">End Date:</label>
                                    <input type="date" class="form-control" id="end_date" name="end_date" value="{{ filter_data.end_date }}">
                                </div>
                                <div class="col">
                                    <label for="sales_type">Sales Type:</label>
                                    <select id="sales_type" name="sales_type" class="form-select">
                                        <option value="">All</option>
                                        {% for sales_type in sales_types %}
                                            <option value="{{ sales_type }}" {% if sales_type == filter_data.sales_type %}selected{% endif %}>
                                                {{ sales_type }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col d-flex align-items-end justify-content-end">
                                    <input type="submit" class="btn btn-primary btn-sm mx-1" value="Apply Filter">
                                    <button type="button" class="btn btn-secondary btn-sm mx-1" onclick="resetFilters()" style="width:max-content">Reset Filter</button>
                                    <a href="{% url 'customerSales_Excel_report' %}?start_date={{ filter_data.start_date }}&end_date={{ filter_data.end_date }}&sales_type={{ filter_data.sales_type }}" class="btn btn-outline-success"><i class="fas fa-file-excel"></i> Excel</a>
                                    <a href="{% url 'customerSales_Print_report' %}?start_date={{ filter_data.start_date }}&end_date={{ filter_data.end_date }}&sales_type={{ filter_data.sales_type }}" class="btn btn-outline-success"><i class="fas fa-print"></i> Print</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div id="table-container" style="overflow-x: auto;">
                        <div class="card-body">
                            <table id="responsiveDataTable" class="table table-bordered text-nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;">Sl No</th>
                                        <th style="text-align:center;">Date</th>
                                        <th style="text-align:center;">Reference No</th>
                                        <th style="text-align:center;">Invoice No</th>
                                        <th style="text-align:center;">Customer Name</th>
                                        <th style="text-align:center;">Customer Sales Type</th>
                                        <th style="text-align:center;">Route</th>
                                        <th style="text-align:center;">Salesman</th>
                                        <th style="text-align:right;">Amount</th>
                                        <th style="text-align:right;">Discount</th>
                                        <th style="text-align:right;">Net Taxable</th>
                                        <th style="text-align:right;">VAT Amount</th>
                                        <th style="text-align:right;">Grand Total</th>
                                        <th style="text-align:right;">Amount Collected</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in customersales %}
                                    <tr>
                                        <td style="text-align:center;">{{ forloop.counter }}</td>
                                        <td style="text-align:center;">{{ data.date|date:"d/m/Y" }}</td>
                                        <td style="text-align:left;">{{ data.ref_invoice_no }}</td>
                                        <td style="text-align:left;">{{ data.invoice_number }}</td>
                                        <td style="text-align:left;">{{ data.customer_name }}</td>
                                        <td style="text-align:left;">{{ data.sales_type }}</td>
                                        <td style="text-align:left;">{{ data.route_name }}</td>
                                        <td style="text-align:left;">{{ data.salesman }}</td>
                                        <td style="text-align:right;">{{ data.amount }}</td>
                                        <td style="text-align:right;">{{ data.discount }}</td>
                                        <td style="text-align:right;">{{ data.net_taxable }}</td>
                                        <td style="text-align:right;">{{ data.vat_amount }}</td>
                                        <td style="text-align:right;">{{ data.grand_total }}</td>
                                        <td style="text-align:right;">{{ data.amount_collected }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="8" style="text-align:right;">Total:</td>
                                        <td style="text-align:right;">{{ total_amount }}</td>
                                        <td style="text-align:right;">{{ total_discount }}</td>
                                        <td style="text-align:right;">{{ total_net_payable }}</td>
                                        <td style="text-align:right;">{{ total_vat }}</td>
                                        <td style="text-align:right;">{{ total_grand_total }}</td>
                                        <td style="text-align:right;">{{ total_amount_recieved }}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <!-- Commented out pagination section -->
                    {% comment %} 
                    {% get_pages %}
                    <div class="clearfix"></div>
                    <div class="row pagi my-3">
                        <div class="col-sm-6 col-xs-6 tot my-pagination">
                            <div class="m-t-10 text-start">
                                Showing {{ title }} <span class="current_page_index">{{ pages.current_start_index }}</span> - <span class="current_end_status">{{ pages.current_end_index }}</span> of <span class="total_count">{{ pages.total_count }}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 pagination-btn-div">
                            {% show_pages %}
                        </div>
                    </div> 
                    {% endcomment %}
                {% comment %} </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
function resetFilters() {
    document.querySelector('form').reset(); // Reset the form fields
}
</script>
{% endblock %} {% endcomment %} 